
    <div class='question'>
    <ul><input type="text"  name="question0[]" placeholder="Ask your question">
    <li><input type="text"  name="answer0[]" placeholder="Answer 1"></li>
    </div>
    <!-- Add answer button adds another answer line -->
    <button type="button" id='add-answer'>Add an Answer</button>

