<div class="question">
  <%= question.content %>
       <ul> <% question.answers.each do |ans| %>
         <li> <input type="radio" name="question[<%=question.id%>]" value='<%= ans.id %>'><%= ans.content %></li>
        <% end %>
        </ul>


</div>


