<div class="question">

      <%= question.content %>

        <% question.answers.each do |ans| %>
         <span> <input type="radio" name="question[<%=question.id%>]" value='<%= ans.id %>'><%= ans.content %></span></br>
        <% end %>



</div>


