<div class="current-survey">
  <h2> <%= @survey.title %> </h2>
  <h4> Created by : <%= User.find(@survey.creator_id).user_name  %> </h4>
  <form action="">
  <input type="hidden" name='survey[<%= @survey.id %>]'>
   <ol> <% @survey.questions.each do |quest| %>

     <li> <%= erb :'survey/_question', locals: {question: quest} %> </li>
    <% end %>
    <input type="submit" value="Submit">
  </form>
</div>
