<div id="survey_headers">
  <% unless current_user %>
    <% link = 'span' %>
    <h3>Welcome, please sign in to answer these sweet Surveys</h3>
  <% else %>
    <% link = 'a' %>
    <h3>Surveys that you can answer</h3>
  <% end %>
  <ul>
  <% survey.each do |surv| %>
    <div class="survey">
      <li><<%= link %> href="/survey/<%= surv.id %>"><%= surv.title %> </<%= link %>></li>
      </div>
    <% end %>

</div>
