<div id="survey_headers">
  <% if current_user %>
  <h3>Surveys that you can answer</h3>
  <% survey.each do |surv| %>
    <div class="survey">
      <a href="/survey/<%= surv.id %>"><%= surv.title %> </a>
    <% end %>
    <% else %>
      <h3>Welcome, please sign in to start</h3>
      <div id="errors-display"><p>
        <% if session[:errors] %>
        Uh-oh, something went wrong...
        <ul>
          <% display_errors!.each do |error| %>
            <li><%= error.capitalize %></li>
          <% end %>
        </ul>
        <% end %>
      </p></div>
    </div>
  <% end %>
</div>
