<form action="/signup" method="POST">
  <input type="hidden">
  <input type="text" name="user[user_name]" placeholder="Username">
  <input type="password"  name="user[password]" placeholder="Password">
  <input type="password"  name="user[password_confirmation]" placeholder="Confirm Password">
  <input type="text"  name="user[email]" placeholder="Email">
  <textarea name="user[bio]" placeholder="Tell Us About yourself"></textarea>
  <input type="submit" value="Login">
</form>
