/*== MAIN ==*/
body {
  /* border-top: 1em solid black; */
  width: 100%;
  background-color: #152B3C;
  font: Share;
  color: darkslategrey;

  /* border: 1px solid darkslategrey; */
}

span.bar {
  background: aquamarine;
  display: flex;
  border: 1px solid slategray;
  border-radius: 8px;
}

ul li {
  list-style-type: disc;
}
div#login {
    float: right;
    color: darkslategrey;
    text-align: right;
    /* right: 0px; */
    /* position: absolute; */
}

form {
  color: darkslategrey;
    /* border-radius: 2px; */
    display: run-in;
    /* width: 20%; */
    /* text-align: right; */
    /* right: 0px; */
}

div#login-form, #signup-form {
    /* text-align: right; */
    width: 20%;
    margin-top: 10px;
    margin-right: 93px;
    float: right;
}

textarea {
    position: absolute;
    top: 45px;
    left: 40%;
    width: 30%;
    height: 97px;
    border-radius: 8px;
}

nav img {
    width: 70px;
}

nav logo span {
    top: 10px;
    position: absolute;
    /* float: left; */
}

div#login-toolbar {
    /* float: right; */
    /* position: relative; */
    /* top: -4px; */
    /* right: 0px; */
    /* margin: 0; */
    /* width: 45%; */
    text-align: right;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

a:visited {
  color: slategrey;
}

#logo span{
  /* border-left: 2px solid darkslategrey; */
  /* float: right; */
  padding-left: 10px;

  position: absolute;
  top: 10px;
  font-size: 2em;
  width: 50%;
  font-variant: small-caps;
  justify-content: space-between;
}

nav {
  display: inline;
  color: whitesmoke;
  font-weight: bolder;

}

#main-container, #new-survey-form, #survey, .current-survey {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 80%;
  margin: 10%;
  padding-top: 3px;
  padding-bottom: 10px;
  margin-top: 138px;
}

#survey_headers {
  margin: 5%;
  font-size: 2em;

}

span#username {
    float: right;
    top: -42px;
}

div#logo {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 0px;
}

#survey_headers h3 {
  border-bottom: 1px solid darkslategrey;

}

.survey {
  padding-bottom: 1em;
}
#login-div {


}

input {
    border-radius: 8px;
    padding-top: 2px;
    margin-top: 3px;
}

#signup-div {

}

#signup_form {


}
