/*== MAIN ==*/
body {
  /* border-top: 1em solid black; */
  width: 100%;
  background-color: #152B3C;
  font: Share;
  color: darkslategrey;
}


ul li {
  list-style-type: disc;
}

div#login {
  float: right;
  color: darkslategrey;
  text-align: right;

}

form {
  color: darkslategrey;
    /* border-radius: 2px; */
  display: run-in;

}

input {
    border-radius: 8px;
    padding-top: 2px;
    margin-top: 3px;
}

div#login-form, #signup-form {
    /* text-align: right; */
    width: 20%;
    margin-top: 10px;
    margin-right: 93px;
    float: right;
}

textarea {
    position: absolute;
    top: 45px;
    left: 40%;
    width: 30%;
    height: 97px;
    border-radius: 8px;
}

nav img {
    width: 70px;
}

nav logo span {
    top: 10px;
    position: absolute;
    /* float: left; */
}

div#login-toolbar {

    text-align: right;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

a:visited {
  color: slategrey;
}

#logo span{
  /* border-left: 2px solid darkslategrey; */
  /* float: right; */
  padding-left: 10px;

  position: absolute;
  top: 10px;
  font-size: 2em;
  width: 50%;
  font-variant: small-caps;
  justify-content: space-between;
}

nav {
  display: inline;
  color: whitesmoke;
  font-weight: bolder;

}

div#new-question-div {
  font-size: 13px;
  padding-top: 10px;
}
#main-container, #survey {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  margin-top: 55px;
}

.current-survey {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 10px;
  margin-top: 55px;
  padding-left: 30px;
}
#new-survey-form {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 80%;
  /* margin: auto; */
  /* padding-top: 3px; */
  padding-bottom: 10px;
  /* margin-top: 55px; */
}

button.add-answer {
margin-left: 10px;
}

#survey_headers {
  margin: 5%;
  font-size: 2em;

  /* margin-top: 44px; */
  padding-top: 10px;
}

span#username {
    float: right;
    top: -42px;
}

div#logo {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 0px;
}

#survey_headers h3 {
  border-bottom: 1px solid darkslategrey;

}

.survey {
  /* padding-bottom: 1em; */
  font-size: .75em;
}






span.bar {
  background: aquamarine;
  display: flex;
  border: 1px solid slategray;
  border-radius: 8px;
}