<nav>
  <span>Logo Goes Here</span>
  <h2> Create a Survey </h2>
  <h2> My Surveys </h2>
  <h2> Answered Surveys </h2>
      <div id="login-toolbar">
      <% if current_user %>
        <a href="/logout" id="logout">Logout</a>
      <% else %>
        <a id="login-button" href="/login" id="login">Login</a>
        <a id="signup-button" href="/signup" id="signup">Signup</a>
      <% end %>
    </div>
<div id="login-div"></div>
<div id="signup-div"></div>
</nav>
